*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Monserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0rem !important;
    padding-left: 0rem !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}